.mainload {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  display: -webkit- flex;
  display: -ms- flex;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.load1 {
  width: 200px;
  height: 200px;
  border-style: solid;
  border-width: 3px;
  border-top-color: #4885ed;
  border-right-color: beige;
  border-bottom-color: beige;
  border-left-color: #4885ed;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: -webkit- flex;
  display: -ms- flex;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: rotateClockwise 1.8s linear infinite;
}

.load2 {
  width: 180px;
  height: 180px;
  border-style: solid;
  border-width: 3px;
  border-top-color: beige;
  border-right-color: #db3236;
  border-bottom-color: #db3236;
  border-left-color: beige;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: -webkit- flex;
  display: -ms- flex;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: rotateCounterClockwise 1.2s linear infinite;
}

.load3 {
  width: 160px;
  height: 160px;
  border-style: solid;
  border-width: 3px;
  border-top-color: #f4c20d;
  border-right-color: beige;
  border-bottom-color: beige;
  border-left-color: #f4c20d;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: -webkit- flex;
  display: -ms- flex;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: rotateClockwise 1.4s linear infinite;
}

.load4 {
  width: 140px;
  height: 140px;
  border-style: solid;
  border-width: 3px;
  border-top-color: beige;
  border-right-color: #4885ed;
  border-bottom-color: #4885ed;
  border-left-color: beige;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: -webkit- flex;
  display: -ms- flex;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: rotateCounterClockwise 1.6s linear infinite;
}

.load5 {
  width: 120px;
  height: 120px;
  border-style: solid;
  border-width: 3px;
  border-top-color: #3cba54;
  border-right-color: beige;
  border-bottom-color: beige;
  border-left-color: #3cba54;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: -webkit- flex;
  display: -ms- flex;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: rotateClockwise 2s linear infinite;
}

.load6 {
  width: 100px;
  height: 100px;
  border-style: solid;
  border-width: 3px;
  border-top-color: beige;
  border-right-color: #db3236;
  border-bottom-color: #db3236;
  border-left-color: beige;
  border-radius: 50%;
  animation: rotateCounterClockwise 2.3s linear infinite;
}

.fa {
  position: absolute;
  top: 65%;
  left: 45%;
  font-size: 2.3em;
  color: #4885ed;
  animation: colorChange 8s 0.5s infinite;
}

@keyframes rotateClockwise {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotateCounterClockwise {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes colorChange {
  10% {
    color: #4885ed;
  }
  20% {
    color: #db3236;
  }
  40% {
    color: #f4c20d;
  }
  60% {
    color: #4885ed;
  }
  80% {
    color: #3cba54;
  }
  90% {
    color: #db3236;
  }
  100% {
    color: #4885ed;
  }
}/*# sourceMappingURL=loading.css.map */